body{
    text-align: center;
    background-color: #f3f3f3 ;
    margin-left: 200px;
    margin-right: 200px;
}
a{
    font-size: larger;
}
.navtex{
    margin-top: 100px;
}
.logo{
    width: 150px;
}
.nav{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-top-color: black;
    border-bottom-color: #f3f3f3;
    border-left-color: #f3f3f3;
    border-right-color: #f3f3f3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.boton{
    width: 150px;
}
.flex1{
    display: flex;
}
.flex{
    display: flex;
    justify-content: center;
}
.titu{
    text-align: center;
}
.msg{
    border-radius: 5px;
    width: 250px;
    height: 100px;
}
.dem{
    border-radius: 5px;
    width: 200px;
}
.proy{
    width: 500px;
    height: 500px;
    padding: 10px;
}
.serv:hover{
    background-color: rgb(86, 5, 161);
}
.proyecto{
    margin: 20px;
}
.serv{
    background-color: #f3f3f3;
    height: 200px;
    width: 175px;
    margin: 40px;
    justify-content: space-between;
}
.left{
    text-align: left;
    width: 350px;
    margin-left: 75px;
    margin-right: 60px;
    font-size: larger;
}
.fot{
    width: 50px;
    margin: 5px;
}
.background1{
    background-color: #f3f3f3;
}
.background1:hover{
    background-color: rgb(86, 5, 161);
}
.presenta{
    font-size: larger;
    text-align: left;
}